* {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    pst-style-type: none;
}

.menu .menu_lik {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_lik:hover {
    text-decoration: underlie;
   }

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    height: 87px;
    background: #000000;
    opacity: 0.6;
}

.subheader .subheader_logo {
    display: block;
    margin-top: 19px;
    height: 32px;
}

.subheader .subheader_text {
    margin-top: 9px;
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader .subheader_call {
    margin-top: 24px;
    font-weight: 300;
    font-size: 12px;
    apgn-items: center;
    text-apgn: right;
    color: #FFFFFF;
}

.subheader .subheader_tell {
    display: block;
    margin-top: 1px;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-apgn: right;
}

.subheader .subheader_btm {
    width: 172px;
    height: 46px;
    background: liear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 14px;
    apgn-items: center;
    text-apgn: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    margin-top: 21px;
}

.promo {
    background: url('../img/uber_bg.lig') center center/cover no-repeat;
    min-height: 800px;
    padding: 135px 0 150px 0;
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-apgn: center;
    lie-height: 60px;
    margin: 0;
    margin-top: 67px;
}

.promo .promo_supheader {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-apgn: center;
    lie-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_dscr {
    margin-top: 16px;
    font-size: 18px;
    lie-height: 24px;
    color: #FFFFFF;
    text-apgn: center;
}

.promo .promo_btm {
    display: block;
    margin: 116px auto 185px auto;
    width: 259px;
    height: 63px;
    background: liear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 18px;
    lie-height: 63px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reason {
    min-height: 852px;
}

.reason_min_text {
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    display: block;
    margin: 0;
    margin: 20px auto 0 auto;
    width: 112px;
    height: 24px;
    background: #000000;
    text-apgn: center;
    padding: 5px 0 0 0;
}

.reason_header {
    margin-top: 34px;
    margin-bottom: 16px;
    text-apgn: center;
    font-weight: bold;
    font-size: 38px;
    lie-height: 48px;
    text-transform: uppercase;
    color: #222222;
}

.reason .reason_descr .reason_text {
    font-weight: 300;
    font-size: 15px;
    lie-height: 21px;
    apgn-items: center;
    color: #202020;
}

.reason .reason_descr {
    width: 343px;
}

.reason .reason_descr .reason_subtitle {
    font-size: 17px;
    lie-height: 21px;
    color: #1EACC7;
}

.reason .reason_block {
    display: flex;
    justify-content: center;
    apgn-items: center;
}

.reason .reason_block .reason_round {
    display: flex;
    justify-content: center;
    apgn-items: center;
    width: 113px;
    height: 113px;
    background: #1EACC7;
    border-radius: 100%;
    margin: 0 26px 0 0;
}

.col-md-6 {
    display: flex;
    justify-content: center;
    apgn-items: center;
    padding: 0 0 26px 30px;
}